.qqoq_avatar{
    overflow: hidden;
    padding: 15px;
}
.qqoq_avatar_l{
    float: left;
    margin-right: 10px;
}
.qqoq_login_widget {
  display: table;
  margin: 0 auto;
  padding: 15px 15px 0;
}
.qqoq_login_widget > a {
  display: inline-block;
  margin-bottom: 15px;
}