

<div id="sideBar">
    <div id="sideBarMain">

        <!--done-->
        <div class="newsItem">
            <h3 class="catListTitle">公告</h3>
            <div id="blog-news">
                <div id="profile_block">
                    昵称：<a href="https://home.cnblogs.com/u/jackchensir/">jackchensir</a><br>园龄：<a href="https://home.cnblogs.com/u/jackchensir/" title="入园时间：2017-08-10">1年6个月</a><br>粉丝：<a href="https://home.cnblogs.com/u/jackchensir/followers/">4</a><br>关注：<a href="https://home.cnblogs.com/u/jackchensir/followees/">5</a><div id="p_b_follow"><a href="javascript:void(0);" onclick="follow('3ff15543-f10c-4db9-6b2d-08d49c352df3')">+加关注</a></div>
                    <script>getFollowStatus('3ff15543-f10c-4db9-6b2d-08d49c352df3')</script>
                </div>
            </div>
            <script type="text/javascript">loadBlogNews();</script>
        </div>
        <div id="blog-calendar" style="">
            <table id="blogCalendar" class="Cal" title="Calendar" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td colspan="7">
                            <table class="CalTitle" cellspacing="0">
                                <tbody>
                                    <tr><td class="CalNextPrev"><a href="javascript:void(0);" onclick="loadBlogCalendar('2019/02/01');return false;">&lt;</a></td><td align="center">2019年3月</td><td class="CalNextPrev" align="right"><a href="javascript:void(0);" onclick="loadBlogCalendar('2019/04/01');return false;">&gt;</a></td></tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr><th class="CalDayHeader" abbr="日" scope="col" align="center">日</th><th class="CalDayHeader" abbr="一" scope="col" align="center">一</th><th class="CalDayHeader" abbr="二" scope="col" align="center">二</th><th class="CalDayHeader" abbr="三" scope="col" align="center">三</th><th class="CalDayHeader" abbr="四" scope="col" align="center">四</th><th class="CalDayHeader" abbr="五" scope="col" align="center">五</th><th class="CalDayHeader" abbr="六" scope="col" align="center">六</th></tr>
                    <tr><td class="CalOtherMonthDay" align="center">24</td><td class="CalOtherMonthDay" align="center">25</td><td class="CalOtherMonthDay" align="center">26</td><td class="CalOtherMonthDay" align="center">27</td><td class="CalOtherMonthDay" align="center">28</td><td align="center">1</td><td class="CalWeekendDay" align="center">2</td></tr>
                    <tr><td class="CalWeekendDay" align="center">3</td><td align="center">4</td><td align="center">5</td><td align="center">6</td><td align="center">7</td><td class="CalTodayDay" align="center">8</td><td class="CalWeekendDay" align="center">9</td></tr>
                    <tr><td class="CalWeekendDay" align="center">10</td><td align="center">11</td><td align="center">12</td><td align="center">13</td><td align="center">14</td><td align="center">15</td><td class="CalWeekendDay" align="center">16</td></tr>
                    <tr><td class="CalWeekendDay" align="center">17</td><td align="center">18</td><td align="center">19</td><td align="center">20</td><td align="center">21</td><td align="center">22</td><td class="CalWeekendDay" align="center">23</td></tr>
                    <tr><td class="CalWeekendDay" align="center">24</td><td align="center">25</td><td align="center">26</td><td align="center">27</td><td align="center">28</td><td align="center">29</td><td class="CalWeekendDay" align="center">30</td></tr>
                    <tr><td class="CalWeekendDay" align="center">31</td><td class="CalOtherMonthDay" align="center">1</td><td class="CalOtherMonthDay" align="center">2</td><td class="CalOtherMonthDay" align="center">3</td><td class="CalOtherMonthDay" align="center">4</td><td class="CalOtherMonthDay" align="center">5</td><td class="CalOtherMonthDay" align="center">6</td></tr>
                </tbody>
            </table>
        </div>
        <script type="text/javascript">loadBlogDefaultCalendar();</script>

        <div class="vcal-week">
            <span>Mon</span> <span>Tue</span><span>Wed</span> <span>Thu</span> <span>Fri</span> <span>Sat</span> <span>Sun</span>
        </div>
        <div class="vcal-body" data-calendar-area="month"></div>
    </div>

        <div id="leftcontentcontainer">
            <div id="blog-sidecolumn">
                <div id="sidebar_search" class="sidebar-block">
                    <div id="sidebar_search" class="mySearch">
                        <h3 class="catListTitle">搜索</h3>
                        <div id="sidebar_search_box">
                            <div id="widget_my_zzk" class="div_my_zzk"><input type="text" id="q" onkeydown="return zzk_go_enter(event);" class="input_my_zzk">&nbsp;<input onclick="zzk_go()" type="button" value="找找看" id="btnZzk" class="btn_my_zzk"></div>
                            <div id="widget_my_google" class="div_my_zzk"><input type="text" name="google_q" id="google_q" onkeydown="return google_go_enter(event)" class="input_my_zzk">&nbsp;<input onclick="google_go()" type="button" value="谷歌搜索" class="btn_my_zzk"></div>
                        </div>
                    </div>

                </div><div id="sidebar_shortcut" class="sidebar-block">
                    <div class="catListLink">
                        <h3 class="catListTitle">常用链接</h3>
                        <ul>
                            <li><a href="https://www.cnblogs.com/jackchensir/p/" title="我的博客的随笔列表">我的随笔</a></li>
                            <li><a href="https://www.cnblogs.com/jackchensir/MyComments.html" title="我发表过的评论列表">我的评论</a></li>
                            <li><a href="https://www.cnblogs.com/jackchensir/OtherPosts.html" title="我评论过的随笔列表">我的参与</a></li>
                            <li><a href="https://www.cnblogs.com/jackchensir/RecentComments.html" title="我的博客的评论列表">最新评论</a></li>
                            <li><a href="https://www.cnblogs.com/jackchensir/tag/" title="我的博客的标签列表">我的标签</a></li>
                        </ul>
                        <div id="itemListLin_con" style="display:none;">
                            <ul></ul>
                        </div>
                    </div>
                </div><div id="sidebar_toptags" class="sidebar-block"></div><div id="sidebar_categories">
                    <div id="sidebar_postarchive" class="catListPostArchive sidebar-block">
                        <h3 class="catListTitle">随笔档案</h3>

                        <ul>

                            <li><a id="CatList_LinkList_0_Link_0" href="https://www.cnblogs.com/jackchensir/archive/2019/02.html">2019年2月 (1)</a> </li>

                            <li><a id="CatList_LinkList_0_Link_1" href="https://www.cnblogs.com/jackchensir/archive/2018/06.html">2018年6月 (1)</a> </li>

                            <li><a id="CatList_LinkList_0_Link_2" href="https://www.cnblogs.com/jackchensir/archive/2018/03.html">2018年3月 (2)</a> </li>

                            <li><a id="CatList_LinkList_0_Link_3" href="https://www.cnblogs.com/jackchensir/archive/2018/01.html">2018年1月 (1)</a> </li>

                            <li><a id="CatList_LinkList_0_Link_4" href="https://www.cnblogs.com/jackchensir/archive/2017/10.html">2017年10月 (1)</a> </li>

                        </ul>

                    </div>

                </div><div id="sidebar_recentcomments" class="sidebar-block">
                    <div id="recent_comments_wrap">
                        <div class="catListComment">
                            <h3 class="catListTitle">最新评论</h3>

                            <div id="RecentCommentsBlock">
                                <ul>
                                    <li class="recent_comment_title"><a href="https://www.cnblogs.com/jackchensir/p/7732035.html#3822567">1. Re:ps知识集锦</a></li>
                                    <li class="recent_comment_body">嗯，不错，再接再厉！！！</li>
                                    <li class="recent_comment_author">--遮不住半世琉璃的伤</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><div id="sidebar_topviewedposts" class="sidebar-block">
                    <div id="topview_posts_wrap">
                        <div class="catListView">
                            <h3 class="catListTitle">阅读排行榜</h3>
                            <div id="TopViewPostsBlock"><ul><li><a href="https://www.cnblogs.com/jackchensir/p/8306448.html">1. 利用git提交代码(67107)</a></li><li><a href="https://www.cnblogs.com/jackchensir/p/8490091.html">2. 在Eclipse中利用maven整合搭建ssm框架(3201)</a></li><li><a href="https://www.cnblogs.com/jackchensir/p/8532357.html">3. 用ajax传递json,返回前台的中文乱码问题(1270)</a></li><li><a href="https://www.cnblogs.com/jackchensir/p/7732035.html">4. ps知识集锦(78)</a></li><li><a href="https://www.cnblogs.com/jackchensir/p/9234965.html">5. Linux下安装mysql（示例mysql5.6安装）(46)</a></li></ul></div>
                        </div>
                    </div>
                </div><div id="sidebar_topcommentedposts" class="sidebar-block">
                    <div id="topfeedback_posts_wrap">
                        <div class="catListFeedback">
                            <h3 class="catListTitle">评论排行榜</h3>
                            <div id="TopFeedbackPostsBlock"><ul><li><a href="https://www.cnblogs.com/jackchensir/p/7732035.html">1. ps知识集锦(1)</a></li></ul></div>
                        </div>
                    </div>
                </div><div id="sidebar_topdiggedposts" class="sidebar-block">
                    <div id="topdigg_posts_wrap">
                        <div class="catListView">
                            <h3 class="catListTitle">推荐排行榜</h3>
                            <div id="TopDiggPostsBlock"><ul><li><a href="https://www.cnblogs.com/jackchensir/p/8306448.html">1. 利用git提交代码(2)</a></li><li><a href="https://www.cnblogs.com/jackchensir/p/7732035.html">2. ps知识集锦(1)</a></li></ul></div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">loadBlogSideColumn();</script>
        </div>

    </div><!--end: sideBarMain -->
</div><!--end: sideBar 侧边栏容器 -->