<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="origin">
    <title>XXX的个人博客</title>
    <script src="~/front/index_files/blog-common.js"></script>
    <link href="~/front/index_files/bundle-BlackLowKey.css" rel="stylesheet" />
    <link href="~/front/index_files/128442.css" rel="stylesheet" />
    <link href="~/front/index_files/bundle-BlackLowKey-mobile.css" rel="stylesheet" />
    <link title="RSS" type="application/rss+xml" rel="alternate" href="https://www.cnblogs.com/maijin/rss">
    <link title="RSD" type="application/rsd+xml" rel="EditURI" href="https://www.cnblogs.com/maijin/rsd.xml">
    <link type="application/wlwmanifest+xml" rel="wlwmanifest" href="https://www.cnblogs.com/maijin/wlwmanifest.xml">
    <script src="~/front/index_files/analytics.js"></script>
    <script src="~/front/index_files/jquery-2.js"></script>
    <script>var currentBlogId = 128442; var currentBlogApp = 'maijin', cb_enable_mathjax = false; var isLogined = false;</script>
    <script src="~/front/index_files/blog-common.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>