
@{
    ViewBag.Title = "主页";
}

<html>
<body>
    <form>
        <a id="jump_calculator" href="Calculator">加法计算器</a>
        <a id="jump_calculator" href="Users">用户</a>
        <a id="jump_calculator" href="CommitLists">评论</a>
        <a id="jump_calculator" href="TextLists">文章</a>
    </form>
</body>
</html>

<h2>Home</h2>

