
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <a name="top"></a>


    <!--done-->
    <div id="home">
        <div id="header">
            <div id="blogTitle">
                <a id="lnkBlogLogo" href="https://www.cnblogs.com/maijin/"><img id="blogLogo" src="~/front/index_files/logo.gif" alt="返回主页"></a>

                <!--done-->
                <h1><a id="Header1_HeaderTitle" class="headermaintitle" href="https://www.cnblogs.com/maijin/">麦田怪人</a></h1>
                <h2>不积跬步无以至千里.</h2>




            </div><!--end: blogTitle 博客的标题和副标题 -->
            <div id="navigator">

                <ul id="navList">
                    <li><a id="blog_nav_sitehome" class="menu" href="https://www.cnblogs.com/">博客园</a></li>
                    <li><a id="blog_nav_myhome" class="menu" href="https://www.cnblogs.com/maijin/">首页</a></li>
                    <li><a id="blog_nav_newpost" class="menu" rel="nofollow" href="https://i.cnblogs.com/EditPosts.aspx?opt=1">新随笔</a></li>
                    <li><a id="blog_nav_contact" class="menu" rel="nofollow" href="https://msg.cnblogs.com/send/%E9%BA%A6%E7%94%B0%E6%80%AA%E4%BA%BA">联系</a></li>
                    <li>
                        <a id="blog_nav_rss" class="menu" href="https://www.cnblogs.com/maijin/rss">订阅</a>
                        <!--<a id="blog_nav_rss_image" class="aHeaderXML" href="https://www.cnblogs.com/maijin/rss"><img src="//www.cnblogs.com/images/xml.gif" alt="订阅" /></a>-->
                    </li>
                    <li><a id="blog_nav_admin" class="menu" rel="nofollow" href="https://i.cnblogs.com/">管理</a></li>
                </ul>
                <div class="blogStats">

                    <div id="blog_stats">
                        <span id="stats_post_count">随笔 - 358&nbsp; </span>
                        <span id="stats_article_count">文章 - 16&nbsp; </span>
                        <span id="stats-comment_count">评论 - 183</span>
                    </div>

                </div><!--end: blogStats -->
            </div><!--end: navigator 博客导航栏 -->
        </div><!--end: header 头部 -->

        <div id="main">
            <div id="mainContent">
                <div class="forFlow">


                    <!--done-->


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl00_ImageLink" href="https://www.cnblogs.com/maijin/archive/2018/04/17.html">2018年4月17日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/8862137.html">C#/.NET基础视频[2018年][195集完]</a>
                        </div>
                        <div class="postCon">
                            <div class="cnblogs-post-body" id="postlist_postbody_8862137">
                                <p>&nbsp;B站观看地址-无广告观看</p>
                                <p>&nbsp; &nbsp;&nbsp;<a href="https://www.bilibili.com/video/av21896829/">https://www.bilibili.com/video/av21896829/</a></p>
                                <p>&nbsp;</p>
                                <p>&nbsp; &nbsp;&nbsp;前一两集 声音有点大 ，可以调大一点音量。</p>
                                <p>&nbsp;&nbsp;</p>
                                <p>&nbsp; &nbsp;百度网盘下载地址<img src="%E9%BA%A6%E7%94%B0%E6%80%AA%E4%BA%BA%20-%20%E5%8D%9A%E5%AE%A2%E5%9B%AD_files/j_0057.gif" alt=""><img src="%E9%BA%A6%E7%94%B0%E6%80%AA%E4%BA%BA%20-%20%E5%8D%9A%E5%AE%A2%E5%9B%AD_files/j_0059.gif" alt=""></p>
                                <p>&nbsp; &nbsp;&nbsp;<a href="https://pan.baidu.com/s/1O1oqOnz6EfGZZjTLhfD-tg#list/path=%2F">https://pan.baidu.com/s/1O1oqOnz6EfGZZjTLhfD-tg#list/path=%2F</a></p>
                                <p>&nbsp;<img src="%E9%BA%A6%E7%94%B0%E6%80%AA%E4%BA%BA%20-%20%E5%8D%9A%E5%AE%A2%E5%9B%AD_files/j_0011.gif" alt=""><img src="%E9%BA%A6%E7%94%B0%E6%80%AA%E4%BA%BA%20-%20%E5%8D%9A%E5%AE%A2%E5%9B%AD_files/j_0011.gif" alt=""><img src="%E9%BA%A6%E7%94%B0%E6%80%AA%E4%BA%BA%20-%20%E5%8D%9A%E5%AE%A2%E5%9B%AD_files/j_0011.gif" alt=""><img src="%E9%BA%A6%E7%94%B0%E6%80%AA%E4%BA%BA%20-%20%E5%8D%9A%E5%AE%A2%E5%9B%AD_files/j_0011.gif" alt=""><img src="%E9%BA%A6%E7%94%B0%E6%80%AA%E4%BA%BA%20-%20%E5%8D%9A%E5%AE%A2%E5%9B%AD_files/j_0011.gif" alt=""><img src="%E9%BA%A6%E7%94%B0%E6%80%AA%E4%BA%BA%20-%20%E5%8D%9A%E5%AE%A2%E5%9B%AD_files/j_0011.gif" alt=""><img src="%E9%BA%A6%E7%94%B0%E6%80%AA%E4%BA%BA%20-%20%E5%8D%9A%E5%AE%A2%E5%9B%AD_files/j_0011.gif" alt=""><img src="%E9%BA%A6%E7%94%B0%E6%80%AA%E4%BA%BA%20-%20%E5%8D%9A%E5%AE%A2%E5%9B%AD_files/j_0011.gif" alt=""><img src="%E9%BA%A6%E7%94%B0%E6%80%AA%E4%BA%BA%20-%20%E5%8D%9A%E5%AE%A2%E5%9B%AD_files/j_0011.gif" alt=""></p>
                                <p>
                                    &nbsp; &nbsp;
                                    C#图解课程，经过老师几年的知识沉淀。尽量用显浅易懂的语言来讲解C#这门语言。让大家能快速地进入到编程的世界。不管您是什么学历。只要你肯话时间。
                                    您都可以成为一门编程爱好者。就算不是程序员。学会了编程。你可以可以写一些好玩的工具。辅助自己使用电脑。学会了编程。你可以开发您自己想要的工具。页
                                    可以锻炼您的思维能力。本套课程使用C#图解教程2008这本书。这本书原版是英文的书本。作者使用了大量的图和表格的方式。辅助我们去理解C#和一些编
                                    程的知识。有什么不懂的。可以再下面给我们留言。
                                </p>
                                <p>&nbsp;&nbsp;遇到问题 可以在本页提问</p>
                                <p>&nbsp; 下面截图只是一部分视频。</p>
                                <p>&nbsp;&nbsp;&nbsp;点击图片查看大图<a href="http://file.bamn.cn/image/2018/04/16/6365951113749950006611715.jpg" target="_blank"><img title="2018-04-16_212948.jpg" src="%E9%BA%A6%E7%94%B0%E6%80%AA%E4%BA%BA%20-%20%E5%8D%9A%E5%AE%A2%E5%9B%AD_files/6365955586164012501335591.jpeg" alt="2018-04-16_212948.jpg"></a></p>
                            </div>
                            <script type="text/javascript">getBlogPostBody(8862137);</script>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2018-04-17 10:02 麦田怪人 阅读(921) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=8862137" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl01_ImageLink" href="https://www.cnblogs.com/maijin/archive/2018/04/15.html">2018年4月15日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl01_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/8848167.html">C# 图解视频教程 全集200多集</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要: 观看地址
                                https://www.bilibili.com/video/av21896829/?spm_id_from=333.23.home_video_list.3
                                学习交流地址 http://www.bamn.cn/course/lesson/123<a href="https://www.cnblogs.com/maijin/p/8848167.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2018-04-15 16:48 麦田怪人 阅读(195) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=8848167" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl02_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/11/29.html">2017年11月29日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7920314.html">JAVA PPT</a>
                        </div>
                        <div class="postCon"><div class="c_b_p_desc">摘要: SDSDFSDF<a href="https://www.cnblogs.com/maijin/p/7920314.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-11-29 14:23 麦田怪人 阅读(72) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7920314" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                        <div class="postSeparator"></div>

                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_1" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7919611.html">值类型和引用类型，栈和堆的含义</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                本文主要是讨论栈和堆的含义，也就是讨论C#的两种类据类型：值类型和引用类型；
                                虽然我们在.net中的框架类库中，大多是引用类型，但是我们程序员用得最多的还是值类型。
                                引用类型如：string，Object，class等总是在从托管堆上分配的，C#中new操作符返回对象的内存地址--也就是指向对象数据<a href="https://www.cnblogs.com/maijin/p/7919611.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-11-29 11:55 麦田怪人 阅读(97) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7919611" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                        <div class="postSeparator"></div>

                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_2" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7919385.html">JAVA与C#的区别</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                Java和C#都是编程的语言，它们是两个不同方向的两种语言 相同点:
                                他们都是面向对象的语言,也就是说,它们都能实现面向对象的思想(封装,继承,多态) 区别：
                                1.c#中的命名空间是namespace类似于Java中的package（包），在Java中导入包用import而c#中用using。2.c<a href="https://www.cnblogs.com/maijin/p/7919385.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-11-29 11:25 麦田怪人 阅读(6136) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7919385" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                        <div class="postSeparator"></div>

                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_3" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7919379.html">JAVA_HOME环境配置</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                JAVA_HOME指明JDK安装路径，就是刚才安装时所选择的路径D:\java\jdk1.5.0_08
                                Path使得系统可以在任何路径下识别java命令，设为：%JAVA_HOME%\bin;%JAVA_HOME%\jre\bin
                                CLASSPATH为java加载类(class or lib)路径，<a href="https://www.cnblogs.com/maijin/p/7919379.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-11-29 11:24 麦田怪人 阅读(52) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7919379" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                        <div class="postSeparator"></div>

                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_4" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7919146.html">Eclipse Luna 64位 4.4.2 SR2 官方正式版（32/64位）支持java8</a>
                        </div>
                        <div class="postCon"><div class="c_b_p_desc">摘要: http://www.newasp.net/soft/89925.html<a href="https://www.cnblogs.com/maijin/p/7919146.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-11-29 10:58 麦田怪人 阅读(320) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7919146" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                        <div class="postSeparator"></div>

                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_5" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7918804.html">C# 对轻量级(IoC Container)依赖注入Unity的使用</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要: 概述
                                Unity是一个轻量级的可扩展的依赖注入容器，支持构造函数，属性和方法调用注入。Unity可以处理那些从事基于组件的软件工程的开发人员所面对的问
                                题。构建一个成功应用程序的关键是实现非常松散的耦合设计。松散耦合的应用程序更灵活，更易于维护。这样的程序也更容易在开发期间进行测试。你可以模拟对
                                象，具<a href="https://www.cnblogs.com/maijin/p/7918804.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-11-29 10:11 麦田怪人 阅读(169) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7918804" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl03_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/09/19.html">2017年9月19日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7546482.html">ffmpeg -i 10.wmv -c:v libx264 -c:a aac -strict -2 -f hls -hls_list_size 0 -hls_time 5 C:\fm\074\10\10.m3u8</a>
                        </div>
                        <div class="postCon"><div class="c_b_p_desc">摘要: ffmpeg -i 10.wmv -c:v libx264 -c:a aac -strict -2 -f hls -hls_list_size 0 -hls_time 5 C:\fm\074\10\10.m3u8<a href="https://www.cnblogs.com/maijin/p/7546482.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-09-19 01:13 麦田怪人 阅读(113) 评论(3)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7546482" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl04_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/09/18.html">2017年9月18日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl04_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7545385.html">m3u8转码</a>
                        </div>
                        <div class="postCon"><div class="c_b_p_desc">摘要: ffmpeg -i input.mp4 -c:v libx264 -c:a aac -strict -2 -f hls -hls_list_size 0 -hls_time 5 output.m3u8<a href="https://www.cnblogs.com/maijin/p/7545385.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-09-18 21:37 麦田怪人 阅读(70) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7545385" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl05_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/08/11.html">2017年8月11日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl05_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7344409.html">转载：MVC升级以后出现"当前上下文中不存在ViewBag"的问题解决</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                MVC升级以后出现"当前上下文中不存在ViewBag"的问题解决
                                把自己的项目从MVC4升级到了MVC5,结果问题一大堆,View的设计环境出现了"当前上下文中不存在ViewBag"的问题：
                                虽然不影响编译，但是看了总是不爽，而且语法提示也没有了。 找了一大堆资料，都是说改WebConfig，包括V<a href="https://www.cnblogs.com/maijin/p/7344409.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-08-11 10:13 麦田怪人 阅读(42) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7344409" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl06_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/08/03.html">2017年8月3日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl06_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7279141.html">Entity Framework Code First （八）迁移 Migrations</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要: 创建初始模型和数据库
                                在开始使用迁移（Migrations）之前，我们需要一个 Project 和一个 Code First Model, 对于本文将使用典型的
                                Blog 和 Post 模型 创建一个新的控制台应用程序 MigrationsDemo; 添加最新的&nbsp;EntityFramework
                                到项<a href="https://www.cnblogs.com/maijin/p/7279141.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-08-03 13:04 麦田怪人 阅读(54) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7279141" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl07_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/07/17.html">2017年7月17日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl07_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7193722.html">一个男人该有的气质</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                一个男人，一定要有一个男人的样子，利利索索、痛痛快快，千万不要扭扭捏捏、婆婆妈妈。一个男人，要懂得保护女人和尊重女人，尤其是后者，千万不要强迫她
                                做她不愿意的事情，不要打女人，无论她伤过你还是骗过你……一个男人，要说话算话，吐出去的东西再咽回来，自己都会觉得恶心。一个男人，可以不帅，但是一
                                定要有风度，<a href="https://www.cnblogs.com/maijin/p/7193722.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-07-17 12:42 麦田怪人 阅读(89) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7193722" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                        <div class="postSeparator"></div>

                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl07_DayList_TitleUrl_1" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7193708.html">有没有想过，也许一辈子你都是个小人物</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                中小学成绩一直很出色，但也不是惊天动地的神童。 考上一所不错的大学，但也不是清华北大。 进来后发现身边的人都挺挫，其实自己也不过这么回事。
                                毕了业，进了一所还算不错的单位，但也不是什么nb企业 。 拿着固定的收入，住着租的房子或者公司宿舍。
                                努力个三五年工资涨到五六千，nb点的八千上万？ 攒钱贷款买<a href="https://www.cnblogs.com/maijin/p/7193708.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-07-17 12:37 麦田怪人 阅读(83) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7193708" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl08_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/07/09.html">2017年7月9日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl08_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7141808.html">System.IO.File.WriteAllText("log.txt", "dddd");</a>
                        </div>
                        <div class="postCon"><div class="c_b_p_desc">摘要: System.IO.File.WriteAllText("log.txt", "dddd");<a href="https://www.cnblogs.com/maijin/p/7141808.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-07-09 16:05 麦田怪人 阅读(42) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7141808" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl09_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/07/08.html">2017年7月8日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl09_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7136007.html">cn_windows_10_enterprise_version_1703_updated_june_2017_x64_dvd_10720588.iso</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                ed2k://|file|cn_windows_10_enterprise_version_1703_updated_june_2017_x64_dvd_10720588.iso|4959832064|1BE4CE1BF03E20D088AD79231B133478|/<a href="https://www.cnblogs.com/maijin/p/7136007.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-07-08 10:21 麦田怪人 阅读(1861) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7136007" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl10_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/07/04.html">2017年7月4日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl10_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7115296.html">Visual Studio 2015 update 3各版本下载地址</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要: 微软在06月27日发布了Visual
                                Studio 2015 Update 3 。在MSDN中微软也提供下载，而且MSDN的Visual Studio 2015 Update
                                3与官方免费下载的文件是一致的，只是文件名不一样，除TFS除外。 官方下载：https://www.visualstudio<a href="https://www.cnblogs.com/maijin/p/7115296.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-07-04 10:22 麦田怪人 阅读(98) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7115296" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl11_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/06/27.html">2017年6月27日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl11_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7083972.html">优麒麟 16.04 LTS(长期支持)版本</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要: Ubuntu Kylin
                                （中文又被称为优麒麟）是基于Ubuntu的一款官方衍生版。
                                它是一款专门为中国市场打造的免费操作系统。它包括Ubuntu用户期待的各种功能，并配有必备的中文软件及程序。
                                http://releases.ubuntu.com/16.04/ubuntu-16.04.2-desk<a href="https://www.cnblogs.com/maijin/p/7083972.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-06-27 10:53 麦田怪人 阅读(122) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7083972" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl12_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/06/23.html">2017年6月23日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl12_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7072016.html">干货！最全羽毛球技术动态分解gif图</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                羽毛球的技术千变万化，但是离不开最基本的击球方法。下面通过一组形象的动态图，给你展现羽毛球的基本动作。大家，务必要收藏起来，慢慢体会哦！
                                一、发球 二、前场技术 1.网前球 2.搓球 3.勾球 4.推球 5.扑球 6.挑球 三、中场技术 1.平抽球 2.杀球 3.接杀球
                                四、后场技术 1.吊球 2.<a href="https://www.cnblogs.com/maijin/p/7072016.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-06-23 23:38 麦田怪人 阅读(888) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7072016" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl13_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/06/19.html">2017年6月19日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl13_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7049539.html">添加缓存 绝对时间过期</a>
                        </div>
                        <div class="postCon"><div class="c_b_p_desc">摘要: HttpContext.Cache.Insert("smscode", code, null, DateTime.UtcNow.AddMinutes(30), Cache.NoSlidingExpiration);<a href="https://www.cnblogs.com/maijin/p/7049539.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-06-19 17:02 麦田怪人 阅读(84) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7049539" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                        <div class="postSeparator"></div>

                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl13_DayList_TitleUrl_1" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7049355.html">C#缓存absoluteExpiration、slidingExpiration两个参数的疑惑</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                看了很多资料终于搞明白cache中absoluteExpiration，slidingExpiration这两个参数的含义。
                                absoluteExpiration：用于设置绝对过期时间，它表示只要时间一到就过期，所以类型为System.DateTime，当给这个参数设置
                                了一个时间时，slidingEx<a href="https://www.cnblogs.com/maijin/p/7049355.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-06-19 16:40 麦田怪人 阅读(1378) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7049355" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl14_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/06/15.html">2017年6月15日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl14_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7017382.html">无法解析依赖项。“Microsoft.Net.Http 2.2.29”与 'Microsoft.Net.Http.zh-Hans</a>
                        </div>
                        <div class="postCon"><div class="c_b_p_desc">摘要: 无法解析依赖项。“Microsoft.Net.Http 2.2.29”与 'Microsoft.Net.Http.zh-Hans 2.0.20710 约束: Microsoft.Net.Http (= 2.0.20710)' 不兼容<a href="https://www.cnblogs.com/maijin/p/7017382.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-06-15 14:02 麦田怪人 阅读(380) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7017382" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                        <div class="postSeparator"></div>

                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl14_DayList_TitleUrl_1" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7017359.html">在 System.Web.Mvc.DefaultModelBinder.ConvertProviderRe</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要: 在
                                System.Web.Mvc.ValueProviderResult.ConvertSimpleType(CultureInfo
                                culture, Object value, Type destinationType) 在
                                System.Web.Mvc.ValueProviderResult.U<a href="https://www.cnblogs.com/maijin/p/7017359.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-06-15 13:59 麦田怪人 阅读(49) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7017359" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl15_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/06/13.html">2017年6月13日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl15_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7003706.html">MVC在VIEW中动态控制htmlAttributes的方法</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                MVC在VIEW中动态控制htmlAttributes的方法
                                在项目中有一个Html.DropDownListFor放在一个分部视图中，然后调用这个分部视图时需要动态控制这个DropDownList的显示方
                                式，比如宽度、是否禁用、是否列表等，这些值的设置都在 Html.DropDownListFor<a href="https://www.cnblogs.com/maijin/p/7003706.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-06-13 21:49 麦田怪人 阅读(131) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7003706" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                        <div class="postSeparator"></div>

                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl15_DayList_TitleUrl_1" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7000517.html">c# 非调试状态下面执行</a>
                        </div>
                        <div class="postCon"><div class="c_b_p_desc">摘要: #if !DEBUG View("ErrorSimple").ExecuteResult(ControllerContext);#endif<a href="https://www.cnblogs.com/maijin/p/7000517.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-06-13 12:42 麦田怪人 阅读(28) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7000517" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                        <div class="postSeparator"></div>

                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl15_DayList_TitleUrl_2" class="postTitle2" href="https://www.cnblogs.com/maijin/p/7000110.html">Asp.net mvc自定义Filter简单使用</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                自定义Filter的基本思路是继承基类ActionFilterAttribute，并根据实际需要重写
                                OnActionExecuting，OnActionExecuted，OnResultExecuting，OnResultExecuted这四个
                                中的一个或多个方法。 注意类名一定要以Attribute<a href="https://www.cnblogs.com/maijin/p/7000110.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-06-13 11:11 麦田怪人 阅读(72) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7000110" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl16_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/06/12.html">2017年6月12日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl16_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/6991919.html">必应壁纸 不断更新</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                http://cn.bing.com/az/hprichbg/rb/DinosaurPP_ZH-CN14544073422_1920x1080.jpg

                                http://cn.bing.com/az/hprichbg/rb/BalmhornRegion_ZH-CN7523037492_1920x1080<a href="https://www.cnblogs.com/maijin/p/6991919.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-06-12 11:10 麦田怪人 阅读(114) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=6991919" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl17_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/06/09.html">2017年6月9日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl17_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/6974065.html">jquery中选择器input:hidden和input[type=hidden]的区别</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                关于选择器:hidden的说明，在jquery说明文档中是这样说的：匹配所有不可见元素，或者type为hidden的元素。而
                                [type=hidden]是查找所有type属性等于hidden的元素。两者是有相同之处和不同之处的。:hidden匹配所有不可见元素，或者
                                type为hidden的元素，所有样<a href="https://www.cnblogs.com/maijin/p/6974065.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-06-09 22:42 麦田怪人 阅读(301) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=6974065" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl18_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/06/01.html">2017年6月1日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl18_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/6927493.html">【转】ASP.NET中验证控件的使用</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要: 前言：
                                前几日，无奈用JS判断控件的有效性，发现的确是一件费力、费神的事情！特别是针对邮件格式、邮政编码等的关于正则表达式的JS验证（其中涉及正则表达式
                                的比较等，较烦~）。其实对于这些常用的控件有效性验证，在Asp.Net中有单独的验证控件可供使用。他们可以满足一般的，诸如非空，范围、比较等的验
                                证。<a href="https://www.cnblogs.com/maijin/p/6927493.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-06-01 10:11 麦田怪人 阅读(50) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=6927493" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl19_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/05/28.html">2017年5月28日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl19_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/6915078.html">【转】VS2015详细安装步骤</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                亲身经历记录下来，以备后用。也希望能够帮助到有需要的朋友们！ 1、安装之前首先下载VS2015，下载地址：
                                【VS2015社区版官方中文版下载】：http://download.microsoft.com/download/B/4/8
                                /B4870509-05CB-447C-878F-2F80E4CB<a href="https://www.cnblogs.com/maijin/p/6915078.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-05-28 09:33 麦田怪人 阅读(59) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=6915078" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                        <div class="postSeparator"></div>

                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl19_DayList_TitleUrl_1" class="postTitle2" href="https://www.cnblogs.com/maijin/p/6914815.html">c#String的不变特性，可读但不可写性</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                谈到字符串，大家自然觉得简单，但是总是有一些小的问题隐约出现，下面我就系统的说一下字符串的问题，有说不到日后再予补充。
                                1，首先String是一个类，string只是String类的一个别名，别名的意思：另一个代号，就是和String一样使用。 2，string
                                str=“abc”，和char[] <a href="https://www.cnblogs.com/maijin/p/6914815.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-05-28 00:24 麦田怪人 阅读(88) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=6914815" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl20_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/05/27.html">2017年5月27日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl20_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/6914747.html">C# string 是不可变的，指什么不可变</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要: String 表示文本，即一系列
                                Unicode 字符。字符串是 Unicode 字符的有序集合，用于表示文本。String 对象是 System.Char
                                对象的有序集合，用于表示字符串。String 对象的值是该有序集合的内容，并且该值是不可变的。String 对象称为不可变的（只读），因为一旦<a href="https://www.cnblogs.com/maijin/p/6914747.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-05-27 23:34 麦田怪人 阅读(443) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=6914747" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                        <div class="postSeparator"></div>

                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl20_DayList_TitleUrl_1" class="postTitle2" href="https://www.cnblogs.com/maijin/p/6914743.html">string与stringBuffer区别</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要: string 的 “+” 操作就是根据
                                StringBuilder （或 StringBuffer ）类及其 append 方法实现的。 String 不可变其实就是说一个
                                String 对象创建之后不能再在这个对象上做其他操作（如追加，删除一个字符），只能通过创建别的 String 对象来获取这个<a href="https://www.cnblogs.com/maijin/p/6914743.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-05-27 23:31 麦田怪人 阅读(40) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=6914743" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                        <div class="postSeparator"></div>

                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl20_DayList_TitleUrl_2" class="postTitle2" href="https://www.cnblogs.com/maijin/p/6913182.html">介绍托管程序与非托管程序的区别</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                本文主要介绍托管程序与非托管程序的概念，以及两者之间的区别。希望对你有帮助，一起来看。 AD：【线下活动】三大新锐HTML
                                5企业汇聚51CTO—大话移动前端技术 本文主要介绍托管程序与非托管程序的概念，以及两者之间的区别。希望对你有帮助，一起来看。
                                AD：【线下活动】三大新锐HTML 5企业汇聚5<a href="https://www.cnblogs.com/maijin/p/6913182.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-05-27 15:44 麦田怪人 阅读(69) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=6913182" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                        <div class="postSeparator"></div>

                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl20_DayList_TitleUrl_3" class="postTitle2" href="https://www.cnblogs.com/maijin/p/6912793.html">Asp.net的HttpContext.Current.Items详解</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                之前asp.net只是在使用Session来进行用户会话时的信息存储，甚至很少留意Session完整的类调用是
                                HttpContext.Current.Sessoin.... 好吧，我还是处于只会固定写法的超级小菜....
                                之前偶然看到bbsmax的代码中使用HttpContext.Current.I<a href="https://www.cnblogs.com/maijin/p/6912793.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-05-27 14:34 麦田怪人 阅读(75) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=6912793" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl21_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/05/26.html">2017年5月26日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl21_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/6907823.html">C#之值类型和引用类型</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                本文意在巩固基础知识，并不是对其进行深入剖析，还望理解。本文是对此项知识的整理文，有些内容来源于网络，其他为博主原创，所以难免会有一些小得瑕疵，
                                敬请谅解。所有示例均是博主测试过的，如有转载请标明出处，谢谢。值类型与引用类型是很基础的知识，也有很多对此的介绍，如果想深入了解，张老师的博客讲
                                解的很好，链<a href="https://www.cnblogs.com/maijin/p/6907823.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-05-26 11:56 麦田怪人 阅读(55) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=6907823" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                        <div class="postSeparator"></div>

                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl21_DayList_TitleUrl_1" class="postTitle2" href="https://www.cnblogs.com/maijin/p/6907730.html">正则双重过滤         /// splitKey1 第一个正则式匹配         /// splitKey2 匹配结果中再次匹配进行替</a>
                        </div>
                        <div class="postCon"><div class="c_b_p_desc">摘要: /// /// 正则双重过滤 /// splitKey1 第一个正则式匹配 /// splitKey2 匹配结果中再次匹配进行替换 /// /// /// /// /// /// private static...<a href="https://www.cnblogs.com/maijin/p/6907730.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-05-26 11:38 麦田怪人 阅读(66) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=6907730" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl22_ImageLink" href="https://www.cnblogs.com/maijin/archive/2017/05/25.html">2017年5月25日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl22_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/maijin/p/6904688.html">微软的官方技术文档</a>
                        </div>
                        <div class="postCon"><div class="c_b_p_desc">摘要: https://docs.microsoft.com/zh-cn/dotnet/articles/csharp/language-reference/keywords/byte<a href="https://www.cnblogs.com/maijin/p/6904688.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-05-25 16:46 麦田怪人 阅读(46) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=6904688" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                        <div class="postSeparator"></div>

                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl22_DayList_TitleUrl_1" class="postTitle2" href="https://www.cnblogs.com/maijin/p/6902896.html">【转】浅谈常用的几种web攻击方式</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要: 浅谈常用的几种web攻击方式
                                一、Dos攻击（Denial of Service attack）
                                是一种针对服务器的能够让服务器呈现静止状态的攻击方式。有时候也加服务停止攻击或拒绝服务攻击。其原理就是发送大量的合法请求到服务器，服务器无法分辨
                                这些请求是正常请求还是攻击请求，所以都会照单全收。海量的请<a href="https://www.cnblogs.com/maijin/p/6902896.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-05-25 11:39 麦田怪人 阅读(53) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=6902896" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                        <div class="postSeparator"></div>

                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl22_DayList_TitleUrl_2" class="postTitle2" href="https://www.cnblogs.com/maijin/p/6902308.html">【转】简单的解释XSS攻击</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要: XSS 跨站点脚本 cross site
                                script 怎么造成攻击？
                                举例：有一个公共的页面，所有用户都可以访问且可以保存内容，输入的时候若输入&lt;script&gt;alert('I am
                                hacker')&lt;/script&gt;.由于这句脚本保存到数据中了，下次别人看到这个内容的时候，浏览器端就会弹出一句“<a href="https://www.cnblogs.com/maijin/p/6902308.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-05-25 10:13 麦田怪人 阅读(46) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=6902308" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>

                    <div class="topicListFooter"><div id="nav_next_page"><a href="https://www.cnblogs.com/maijin/default.html?page=2">下一页</a></div></div>


                </div><!--end: forFlow -->
            </div><!--end: mainContent 主体内容容器-->

            <div id="sideBar">
                <div id="sideBarMain">

                    <!--done-->
                    <div class="newsItem">
                        <h3 class="catListTitle">公告</h3>
                        <div id="blog-news">
                            <!--<p><img src="https://images.cnblogs.com/cnblogs_com/maijin/544293/o_QQ%e5%9b%be%e7%89%8720140111233724.jpg" alt="" width="160px" /></p>
                            <p>&nbsp;</p>
                            <div>
                            <img src="https://images0.cnblogs.com/blog2015/448095/201507/041003324929204.gif" alt="" />
                            <span style="font-size: 18pt;"> </span>&nbsp;</div><p><strong style="font-size: 16pt;">
                            <span style="">北盟网校：</span></strong></p>
                            <p>
                            <span style="font-size: 16pt;"><a href="http://www.bamn.cn/" target="_blank">www.bamn.cn</a></span>
                            </p>-->
                            <p>
                                <span style="font-size: 16pt;"><a href="https://i.cnblogs.com/posts?postConfig=IsDraft" target="_blank">草稿箱</a></span>
                            </p>
                            <!--
                            <br/>
                            <p><strong style="font-size: 18pt;">
                            <span style="color: red;">北盟视频：</span></strong></p>
                            <p>
                            <span style="font-size: 18pt;"><a href="http://www.iqiyi.com/u/2086142358" target="_blank">www.iqiyi.com/u/2086142358</a></span>
                            </p>
                            <span style="font-size: 18pt;"> </span>&nbsp;</div><p><strong style="font-size: 18pt;">
                            <span style="color: red;">QQ交流群：</span></strong></p>
                            <p>
                            <span style="font-size: 18pt;">331455534</span>
                            <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=12f50bf9158226c031398b3774e58cd5085245a9fad527c1429fb11b707e850c"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="Asp.net Mvc Easyui C#交流" title="Asp.net Mvc Easyui C#交流"></a>
                            </p>-->
                            <embed src="~/front/index_files/multiPlayer.html" type="application/x-shockwave-flash" wmode="opaque" width="500" height="700"><div id="profile_block">
                                昵称：<a href="https://home.cnblogs.com/u/maijin/">麦田怪人</a><br>园龄：<a href="https://home.cnblogs.com/u/maijin/" title="入园时间：2012-09-14">6年5个月</a><br>粉丝：<a href="https://home.cnblogs.com/u/maijin/followers/">203</a><br>关注：<a href="https://home.cnblogs.com/u/maijin/followees/">17</a><div id="p_b_follow"><a href="javascript:void(0);" onclick="follow('c67524dd-75fe-e111-aa3f-842b2b196315')">+加关注</a></div>
                                <script>getFollowStatus('c67524dd-75fe-e111-aa3f-842b2b196315')</script>
                            </div>
                        </div>
                        <script type="text/javascript">loadBlogNews();</script>
                    </div>

                    <div id="blog-calendar" style="">
                        <table id="blogCalendar" class="Cal" title="Calendar" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td colspan="7">
                                        <table class="CalTitle" cellspacing="0">
                                            <tbody>
                                                <tr><td class="CalNextPrev"><a href="javascript:void(0);" onclick="loadBlogCalendar('2019/02/01');return false;">&lt;</a></td><td align="center">2019年3月</td><td class="CalNextPrev" align="right"><a href="javascript:void(0);" onclick="loadBlogCalendar('2019/04/01');return false;">&gt;</a></td></tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr><th class="CalDayHeader" abbr="日" scope="col" align="center">日</th><th class="CalDayHeader" abbr="一" scope="col" align="center">一</th><th class="CalDayHeader" abbr="二" scope="col" align="center">二</th><th class="CalDayHeader" abbr="三" scope="col" align="center">三</th><th class="CalDayHeader" abbr="四" scope="col" align="center">四</th><th class="CalDayHeader" abbr="五" scope="col" align="center">五</th><th class="CalDayHeader" abbr="六" scope="col" align="center">六</th></tr>
                                <tr><td class="CalOtherMonthDay" align="center">24</td><td class="CalOtherMonthDay" align="center">25</td><td class="CalOtherMonthDay" align="center">26</td><td class="CalOtherMonthDay" align="center">27</td><td class="CalOtherMonthDay" align="center">28</td><td align="center">1</td><td class="CalWeekendDay" align="center">2</td></tr>
                                <tr><td class="CalWeekendDay" align="center">3</td><td align="center">4</td><td align="center">5</td><td align="center">6</td><td align="center">7</td><td class="CalTodayDay" align="center">8</td><td class="CalWeekendDay" align="center">9</td></tr>
                                <tr><td class="CalWeekendDay" align="center">10</td><td align="center">11</td><td align="center">12</td><td align="center">13</td><td align="center">14</td><td align="center">15</td><td class="CalWeekendDay" align="center">16</td></tr>
                                <tr><td class="CalWeekendDay" align="center">17</td><td align="center">18</td><td align="center">19</td><td align="center">20</td><td align="center">21</td><td align="center">22</td><td class="CalWeekendDay" align="center">23</td></tr>
                                <tr><td class="CalWeekendDay" align="center">24</td><td align="center">25</td><td align="center">26</td><td align="center">27</td><td align="center">28</td><td align="center">29</td><td class="CalWeekendDay" align="center">30</td></tr>
                                <tr><td class="CalWeekendDay" align="center">31</td><td class="CalOtherMonthDay" align="center">1</td><td class="CalOtherMonthDay" align="center">2</td><td class="CalOtherMonthDay" align="center">3</td><td class="CalOtherMonthDay" align="center">4</td><td class="CalOtherMonthDay" align="center">5</td><td class="CalOtherMonthDay" align="center">6</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <script type="text/javascript">loadBlogDefaultCalendar();</script>

                    <div id="leftcontentcontainer">
                        <div id="blog-sidecolumn">
                            <div id="sidebar_search" class="sidebar-block">
                                <div id="sidebar_search" class="mySearch">
                                    <h3 class="catListTitle">搜索</h3>
                                    <div id="sidebar_search_box">
                                        <div id="widget_my_zzk" class="div_my_zzk"><input type="text" id="q" onkeydown="return zzk_go_enter(event);" class="input_my_zzk">&nbsp;<input onclick="zzk_go()" type="button" value="找找看" id="btnZzk" class="btn_my_zzk"></div>
                                        <div id="widget_my_google" class="div_my_zzk"><input type="text" name="google_q" id="google_q" onkeydown="return google_go_enter(event)" class="input_my_zzk">&nbsp;<input onclick="google_go()" type="button" value="谷歌搜索" class="btn_my_zzk"></div>
                                    </div>
                                </div>

                            </div><div id="sidebar_shortcut" class="sidebar-block">
                                <div class="catListLink">
                                    <h3 class="catListTitle">常用链接</h3>
                                    <ul>
                                        <li><a href="https://www.cnblogs.com/maijin/p/" title="我的博客的随笔列表">我的随笔</a></li>
                                        <li><a href="https://www.cnblogs.com/maijin/MyComments.html" title="我发表过的评论列表">我的评论</a></li>
                                        <li><a href="https://www.cnblogs.com/maijin/OtherPosts.html" title="我评论过的随笔列表">我的参与</a></li>
                                        <li><a href="https://www.cnblogs.com/maijin/RecentComments.html" title="我的博客的评论列表">最新评论</a></li>
                                        <li><a href="https://www.cnblogs.com/maijin/tag/" title="我的博客的标签列表">我的标签</a></li>
                                    </ul>
                                    <div id="itemListLin_con" style="display:none;">
                                        <ul></ul>
                                    </div>
                                </div>
                            </div><div id="sidebar_recentposts" class="sidebar-block">
                                <div class="catListEssay">
                                    <h3 class="catListTitle">最新随笔</h3>
                                    <ul>
                                        <li><a href="https://www.cnblogs.com/maijin/p/8862137.html">1. C#/.NET基础视频[2018年][195集完]</a></li>
                                        <li><a href="https://www.cnblogs.com/maijin/p/8848167.html">2. C# 图解视频教程 全集200多集</a></li>
                                        <li><a href="https://www.cnblogs.com/maijin/p/7920314.html">3. JAVA PPT</a></li>
                                        <li><a href="https://www.cnblogs.com/maijin/p/7919611.html">4. 值类型和引用类型，栈和堆的含义</a></li>
                                        <li><a href="https://www.cnblogs.com/maijin/p/7919385.html">5. JAVA与C#的区别</a></li>
                                        <li><a href="https://www.cnblogs.com/maijin/p/7919379.html">6. JAVA_HOME环境配置</a></li>
                                        <li><a href="https://www.cnblogs.com/maijin/p/7919146.html">7. Eclipse Luna 64位 4.4.2 SR2 官方正式版（32/64位）支持java8</a></li>
                                        <li><a href="https://www.cnblogs.com/maijin/p/7918804.html">8. C# 对轻量级(IoC Container)依赖注入Unity的使用</a></li>
                                        <li><a href="https://www.cnblogs.com/maijin/p/7546482.html">9. ffmpeg -i 10.wmv -c:v libx264 -c:a aac -strict -2 -f hls -hls_list_size 0 -hls_time 5 C:\fm\074\10\10.m3u8</a></li>
                                        <li><a href="https://www.cnblogs.com/maijin/p/7545385.html">10. m3u8转码</a></li>
                                    </ul>
                                </div>
                            </div><div id="sidebar_toptags" class="sidebar-block"></div><div id="sidebar_categories">
                                <div id="sidebar_postcategory" class="catListPostCategory sidebar-block">
                                    <h3 class="catListTitle">随笔分类<span style="font-size:11px;font-weight:normal">(11)</span></h3>

                                    <ul>

                                        <li><a id="CatList_LinkList_0_Link_0" href="https://www.cnblogs.com/maijin/category/1005533.html">视频下载(2)</a> </li>

                                        <li><a id="CatList_LinkList_0_Link_1" href="https://www.cnblogs.com/maijin/category/985753.html">转载文章(9)</a> </li>

                                    </ul>

                                </div>

                                <div id="sidebar_postarchive" class="catListPostArchive sidebar-block">
                                    <h3 class="catListTitle">随笔档案<span style="font-size:11px;font-weight:normal">(358)</span></h3>

                                    <ul>

                                        <li><a id="CatList_LinkList_1_Link_0" href="https://www.cnblogs.com/maijin/archive/2018/04.html">2018年4月 (2)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_1" href="https://www.cnblogs.com/maijin/archive/2017/11.html">2017年11月 (6)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_2" href="https://www.cnblogs.com/maijin/archive/2017/09.html">2017年9月 (2)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_3" href="https://www.cnblogs.com/maijin/archive/2017/08.html">2017年8月 (2)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_4" href="https://www.cnblogs.com/maijin/archive/2017/07.html">2017年7月 (5)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_5" href="https://www.cnblogs.com/maijin/archive/2017/06.html">2017年6月 (12)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_6" href="https://www.cnblogs.com/maijin/archive/2017/05.html">2017年5月 (19)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_7" href="https://www.cnblogs.com/maijin/archive/2017/04.html">2017年4月 (20)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_8" href="https://www.cnblogs.com/maijin/archive/2017/03.html">2017年3月 (3)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_9" href="https://www.cnblogs.com/maijin/archive/2017/01.html">2017年1月 (17)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_10" href="https://www.cnblogs.com/maijin/archive/2016/11.html">2016年11月 (16)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_11" href="https://www.cnblogs.com/maijin/archive/2016/09.html">2016年9月 (4)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_12" href="https://www.cnblogs.com/maijin/archive/2016/03.html">2016年3月 (1)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_13" href="https://www.cnblogs.com/maijin/archive/2015/12.html">2015年12月 (1)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_14" href="https://www.cnblogs.com/maijin/archive/2015/09.html">2015年9月 (4)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_15" href="https://www.cnblogs.com/maijin/archive/2015/08.html">2015年8月 (8)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_16" href="https://www.cnblogs.com/maijin/archive/2015/07.html">2015年7月 (25)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_17" href="https://www.cnblogs.com/maijin/archive/2015/06.html">2015年6月 (15)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_18" href="https://www.cnblogs.com/maijin/archive/2014/01.html">2014年1月 (4)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_19" href="https://www.cnblogs.com/maijin/archive/2013/12.html">2013年12月 (18)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_20" href="https://www.cnblogs.com/maijin/archive/2013/10.html">2013年10月 (1)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_21" href="https://www.cnblogs.com/maijin/archive/2013/08.html">2013年8月 (7)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_22" href="https://www.cnblogs.com/maijin/archive/2013/07.html">2013年7月 (1)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_23" href="https://www.cnblogs.com/maijin/archive/2013/01.html">2013年1月 (17)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_24" href="https://www.cnblogs.com/maijin/archive/2012/12.html">2012年12月 (138)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_25" href="https://www.cnblogs.com/maijin/archive/2012/11.html">2012年11月 (8)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_26" href="https://www.cnblogs.com/maijin/archive/2012/09.html">2012年9月 (2)</a> </li>

                                    </ul>

                                </div>

                                <div id="sidebar_articlearchive" class="catListArticleArchive sidebar-block">
                                    <h3 class="catListTitle">文章档案<span style="font-size:11px;font-weight:normal">(16)</span></h3>

                                    <ul>

                                        <li><a id="CatList_LinkList_2_Link_0" href="https://www.cnblogs.com/maijin/archives/2017/01.html" rel="nofollow">2017年1月 (1)</a> </li>

                                        <li><a id="CatList_LinkList_2_Link_1" href="https://www.cnblogs.com/maijin/archives/2015/07.html" rel="nofollow">2015年7月 (13)</a> </li>

                                        <li><a id="CatList_LinkList_2_Link_2" href="https://www.cnblogs.com/maijin/archives/2015/06.html" rel="nofollow">2015年6月 (2)</a> </li>

                                    </ul>

                                </div>

                                <div id="sidebar_imagecategory" class="catListImageCategory sidebar-block">
                                    <h3 class="catListTitle">相册<span style="font-size:11px;font-weight:normal">(67)</span></h3>

                                    <ul>

                                        <li><a id="CatList_LinkList_3_Link_0" href="https://www.cnblogs.com/maijin/gallery/544293.html" rel="nofollow">图库A(27)</a> </li>

                                        <li><a id="CatList_LinkList_3_Link_1" href="https://www.cnblogs.com/maijin/gallery/557600.html" rel="nofollow">图库B</a> </li>

                                        <li><a id="CatList_LinkList_3_Link_2" href="https://www.cnblogs.com/maijin/gallery/441789.html" rel="nofollow">图库C(40)</a> </li>

                                    </ul>

                                </div>

                                <div id="sidebar_分类描述" class="catList分类描述 sidebar-block">
                                    <h3 class="catListTitle">分类1</h3>

                                </div>

                            </div><div id="sidebar_scorerank" class="sidebar-block">
                                <div class="catListBlogRank">
                                    <h3 class="catListTitle">积分与排名</h3>
                                    <ul>
                                        <li class="liScore">
                                            积分 -	277600
                                        </li>
                                        <li class="liRank">
                                            排名 -	952
                                        </li>
                                    </ul>
                                </div>


                            </div><div id="sidebar_recentcomments" class="sidebar-block">
                                <div id="recent_comments_wrap">
                                    <div class="catListComment">
                                        <h3 class="catListTitle">最新评论</h3>

                                        <div id="RecentCommentsBlock">
                                            <ul>
                                                <li class="recent_comment_title"><a href="https://www.cnblogs.com/maijin/archive/2012/12/26/2834231.html#4113596">1. Re:DataGridView设置行高</a></li>
                                                <li class="recent_comment_body">DataGridView.RowTemplate.Height = 100 这个没效果是为什么啊</li>
                                                <li class="recent_comment_author">--曾是惊鸿昭影</li>
                                                <li class="recent_comment_title"><a href="https://www.cnblogs.com/maijin/p/7546482.html#3790792">2. Re:ffmpeg -i 10.wmv -c:v libx264 -c:a aac -strict -2 -f hls -hls_list_size 0 -hls_time 5 C:\fm\074\10\10.m3u8</a></li>
                                                <li class="recent_comment_body">111111</li>
                                                <li class="recent_comment_author">--麦田怪人</li>
                                                <li class="recent_comment_title"><a href="https://www.cnblogs.com/maijin/p/7546482.html#3790791">3. Re:ffmpeg -i 10.wmv -c:v libx264 -c:a aac -strict -2 -f hls -hls_list_size 0 -hls_time 5 C:\fm\074\10\10.m3u8</a></li>
                                                <li class="recent_comment_body">11111111</li>
                                                <li class="recent_comment_author">--麦田怪人</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><div id="sidebar_topviewedposts" class="sidebar-block">
                                <div id="topview_posts_wrap">
                                    <div class="catListView">
                                        <h3 class="catListTitle">阅读排行榜</h3>
                                        <div id="TopViewPostsBlock"><ul><li><a href="https://www.cnblogs.com/maijin/archive/2012/12/26/2834231.html">1. DataGridView设置行高(28918)</a></li><li><a href="https://www.cnblogs.com/maijin/archive/2013/01/09/2852330.html">2. SVN版本问题：This client is too old to work with working copy 【解决】(28864)</a></li><li><a href="https://www.cnblogs.com/maijin/archive/2012/12/26/2834529.html">3. C# winform程序中datagridview里按钮的单击事件(17278)</a></li><li><a href="https://www.cnblogs.com/maijin/archive/2012/12/13/2816194.html">4. C# CHECKEDLISTBOX用法总结(16957)</a></li><li><a href="https://www.cnblogs.com/maijin/p/3249798.html">5. Easyui + asp.net mvc + sqlite 开发教程（录屏）适合入门(14751)</a></li><li><a href="https://www.cnblogs.com/maijin/p/6721993.html">6. 正则表达式 取反 非(13393)</a></li><li><a href="https://www.cnblogs.com/maijin/archive/2012/12/20/2826274.html">7. C# 加载图片image --（C#）Image.FromFile 方法会锁住文件的原因及可能的解决方法(13337)</a></li><li><a href="https://www.cnblogs.com/maijin/archive/2012/12/23/2830191.html">8. 后台线程处理数据，如何实时更新UI（datagridview）----多线程同步问题(13157)</a></li><li><a href="https://www.cnblogs.com/maijin/archive/2012/12/28/2837201.html">9. html页面音乐播放器_Embed代码(11834)</a></li><li><a href="https://www.cnblogs.com/maijin/p/3485955.html">10. Easyui入门视频教程 第01集---认识Easyui(10163)</a></li></ul></div>
                                    </div>
                                </div>
                            </div><div id="sidebar_topcommentedposts" class="sidebar-block">
                                <div id="topfeedback_posts_wrap">
                                    <div class="catListFeedback">
                                        <h3 class="catListTitle">评论排行榜</h3>
                                        <div id="TopFeedbackPostsBlock"><ul><li><a href="https://www.cnblogs.com/maijin/p/3485955.html">1. Easyui入门视频教程 第01集---认识Easyui(15)</a></li><li><a href="https://www.cnblogs.com/maijin/p/3249798.html">2. Easyui + asp.net mvc + sqlite 开发教程（录屏）适合入门(14)</a></li><li><a href="https://www.cnblogs.com/maijin/p/3251325.html">3. Easyui + asp.net MVC 系列教程 第09-17 节 完成登录 高清录制(11)</a></li><li><a href="https://www.cnblogs.com/maijin/archive/2012/12/23/2830191.html">4. 后台线程处理数据，如何实时更新UI（datagridview）----多线程同步问题(10)</a></li><li><a href="https://www.cnblogs.com/maijin/p/3246238.html">5. WinForm中 事件 委托 多线程的应用【以一个下载进度条为例】(9)</a></li><li><a href="https://www.cnblogs.com/maijin/p/3266204.html">6. Entity Framework实体模型 入门视频教程(9)</a></li><li><a href="https://www.cnblogs.com/maijin/p/3498766.html">7. 【CAS单点登录视频教程】 第06集【完】 -- Cas认证 学习 票据认证FormsAuthentication(8)</a></li><li><a href="https://www.cnblogs.com/maijin/p/4559111.html">8. ASP.NET WebForm Form表单如何实现MVC那种“自动装配”效果呢？(7)</a></li><li><a href="https://www.cnblogs.com/maijin/p/4642280.html">9. EntityFramework 5.0 CodeFirst 教程01-搭建环境和快速上手(6)</a></li><li><a href="https://www.cnblogs.com/maijin/p/3485959.html">10. Easyui入门视频教程 第02集--- ASP.NET MVC下 搭建 EasyUI环境(6)</a></li></ul></div>
                                    </div>
                                </div>
                            </div><div id="sidebar_topdiggedposts" class="sidebar-block">
                                <div id="topdigg_posts_wrap">
                                    <div class="catListView">
                                        <h3 class="catListTitle">推荐排行榜</h3>
                                        <div id="TopDiggPostsBlock"><ul><li><a href="https://www.cnblogs.com/maijin/p/4642280.html">1. EntityFramework 5.0 CodeFirst 教程01-搭建环境和快速上手(8)</a></li><li><a href="https://www.cnblogs.com/maijin/p/3485955.html">2. Easyui入门视频教程 第01集---认识Easyui(7)</a></li><li><a href="https://www.cnblogs.com/maijin/p/3249798.html">3. Easyui + asp.net mvc + sqlite 开发教程（录屏）适合入门(7)</a></li><li><a href="https://www.cnblogs.com/maijin/p/3500368.html">4. Easyui实用视频教程系列---Tree点击打开tab页面(6)</a></li><li><a href="https://www.cnblogs.com/maijin/p/3251325.html">5. Easyui + asp.net MVC 系列教程 第09-17 节 完成登录 高清录制(5)</a></li><li><a href="https://www.cnblogs.com/maijin/p/3257540.html">6. Easyui + asp.net MVC 系列教程 第19-23 节 完成注销 登录限制过滤 添加用户(4)</a></li><li><a href="https://www.cnblogs.com/maijin/p/3291319.html">7. Asp.Net MVC 进阶篇：路由匹配 实现博客路径 和文章路径(4)</a></li><li><a href="https://www.cnblogs.com/maijin/p/3491771.html">8. Easyui入门视频教程 第11集---Window的使用(4)</a></li><li><a href="https://www.cnblogs.com/maijin/p/3488478.html">9. Easyui入门视频教程 第06集---Layout初始化和属性方法使用(3)</a></li><li><a href="https://www.cnblogs.com/maijin/p/4618435.html">10. Log4Net的应用教程之保存日志到数据库中(3)</a></li></ul></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">loadBlogSideColumn();</script>
                    </div>

                </div><!--end: sideBarMain -->
            </div><!--end: sideBar 侧边栏容器 -->
            <div class="clear"></div>
        </div><!--end: main -->
        <div class="clear"></div>
        <div id="footer">

            <!--done-->
            Copyright ©2019 麦田怪人
        </div><!--end: footer -->
    </div><!--end: home 自定义的最大容器 -->



</body>

