<body>
    <a name="top"></a>


    <!--done-->
    <div id="home">
        <div id="header">
            <div id="blogTitle">
                <a id="lnkBlogLogo" href="https://www.cnblogs.com/jackchensir/"><img id="blogLogo" src="index_files/logo.gif" alt="返回主页"></a>

                <!--done-->
                <h1><a id="Header1_HeaderTitle" class="headermaintitle" href="https://www.cnblogs.com/jackchensir/">DEMO</a></h1>
                <h2>study hard and make progress every day!</h2>




            </div><!--end: blogTitle 博客的标题和副标题 -->
            <div id="navigator">

                <ul id="navList">
                    <li><a id="blog_nav_sitehome" class="menu" href="https://www.cnblogs.com/">博客园</a></li>
                    <li><a id="blog_nav_myhome" class="menu" href="https://www.cnblogs.com/jackchensir/">首页</a></li>
                    <li><a id="blog_nav_newpost" class="menu" rel="nofollow" href="https://i.cnblogs.com/EditPosts.aspx?opt=1">新随笔</a></li>
                    <li><a id="blog_nav_contact" class="menu" rel="nofollow" href="https://msg.cnblogs.com/send/jackchensir">联系</a></li>
                    <li>
                        <a id="blog_nav_rss" class="menu" href="https://www.cnblogs.com/jackchensir/rss">订阅</a>
                        <!--<a id="blog_nav_rss_image" class="aHeaderXML" href="https://www.cnblogs.com/jackchensir/rss"><img src="//www.cnblogs.com/images/xml.gif" alt="订阅" /></a>-->
                    </li>
                    <li><a id="blog_nav_admin" class="menu" rel="nofollow" href="https://i.cnblogs.com/">管理</a></li>
                </ul>
                <div class="blogStats">

                    <div id="blog_stats">
                        <span id="stats_post_count">随笔 - 6&nbsp; </span>
                        <span id="stats_article_count">文章 - 0&nbsp; </span>
                        <span id="stats-comment_count">评论 - 1</span>
                    </div>

                </div><!--end: blogStats -->
            </div><!--end: navigator 博客导航栏 -->
        </div><!--end: header 头部 -->

        <div id="main">
            <div id="mainContent">
                <div class="forFlow">


                    <!--done-->


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl00_ImageLink" href="https://www.cnblogs.com/jackchensir/archive/2019/02/11.html">2019年2月11日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/jackchensir/p/10360944.html">Cmder-控制台模拟器</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                Cmder是一个软件包，由于在Windows上缺少漂亮的控制台模拟器而纯粹受挫。
                                它基于令人惊叹的软件，并采用Monokai配色方案和自定义快速布局，从一开始就看起来很性感。
                                首先，展示一下界面，和Windows的cmd相互对比一下…… 其次介绍下菜单设置快捷键及其功能： 之后相应的菜单功能就自己摸<a href="https://www.cnblogs.com/jackchensir/p/10360944.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2019-02-11 09:59 jackchensir 阅读(14) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=10360944" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl01_ImageLink" href="https://www.cnblogs.com/jackchensir/archive/2018/06/27.html">2018年6月27日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl01_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/jackchensir/p/9234965.html">Linux下安装mysql（示例mysql5.6安装）</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                1.首先检查你的linux上是否已经安装了mysql 2.如果mysql的版本不是想要的版本。需要把mysql卸载
                                3.上传mysql的linux安装包（这里是从mysql官网上下载好的，所以就不用演示在线安装） 下载网址:
                                http://dev.mysql.com/get/Downloads/My<a href="https://www.cnblogs.com/jackchensir/p/9234965.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2018-06-27 17:13 jackchensir 阅读(46) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=9234965" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl02_ImageLink" href="https://www.cnblogs.com/jackchensir/archive/2018/03/09.html">2018年3月9日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/jackchensir/p/8532357.html">用ajax传递json,返回前台的中文乱码问题</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要:
                                java项目中用ajax传递json，返回前台时中文出现问号（乱码问题）的解决办法 首先看一下没有解决前的状态：
                                我用的框架是ssm,在springMVC中我配置了编码格式为utf-8，每个jsp页面也用了utf-8，
                                在利用ajax向后台提交的时候也定义了dataType: applicaptio<a href="https://www.cnblogs.com/jackchensir/p/8532357.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2018-03-09 10:09 jackchensir 阅读(1270) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=8532357" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl03_ImageLink" href="https://www.cnblogs.com/jackchensir/archive/2018/03/02.html">2018年3月2日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/jackchensir/p/8490091.html">在Eclipse中利用maven整合搭建ssm框架</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要: 首先说明用到的框架： spring +
                                springMVC + mybatis 构建工具：maven 开发工具：eclipse 开发环境：win10 java版本：jdk1.8
                                tomcat版本：tomcat8.0 一、创建web项目 先整体看下项目的目录结构 二、maven需要引入的jar包，po<a href="https://www.cnblogs.com/jackchensir/p/8490091.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2018-03-02 11:04 jackchensir 阅读(3201) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=8490091" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl04_ImageLink" href="https://www.cnblogs.com/jackchensir/archive/2018/01/17.html">2018年1月17日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl04_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/jackchensir/p/8306448.html">利用git提交代码</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要: 一、首先需要下载git
                                查看电脑是否安装git,打开终端，输入git,回车如果输出如下,则代表已安装了git 如果未安装,则会输出: 按照提示输入:sudo
                                apt-get install git即可安装!!或者到此处下载:git下载,&nbsp;pkg包下载完成，双击安装。 输入命令:git
                                --versi<a href="https://www.cnblogs.com/jackchensir/p/8306448.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2018-01-17 22:17 jackchensir 阅读(67114) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=8306448" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>


                    <div class="day">
                        <div class="dayTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl05_ImageLink" href="https://www.cnblogs.com/jackchensir/archive/2017/10/25.html">2017年10月25日</a>
                        </div>


                        <div class="postTitle">
                            <a id="homepage1_HomePageDays_DaysList_ctl05_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/jackchensir/p/7732035.html">ps知识集锦</a>
                        </div>
                        <div class="postCon">
                            <div class="c_b_p_desc">
                                摘要: 1、工具箱 移动工具
                                【V】矩形、椭圆选框工具 【M】套索、多边形套索、磁性套索 【L】快速选择工具、魔棒工具 【W】 裁剪、透视裁剪、切片、切片选择工具
                                【C】吸管、颜色取样器、标尺、注释、123计数工具 【I】 污点修复画笔、修复画笔、修补、内容感知移动、红眼工具 【J】
                                画笔、铅笔、颜色替换、混合器画笔工具 【B】仿制图章、图案图章工具 【S】 历史记录画笔工具、历史记录艺术画...<a href="https://www.cnblogs.com/jackchensir/p/7732035.html" class="c_b_p_desc_readmore">阅读全文</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="postDesc">posted @@ 2017-10-25 20:05 jackchensir 阅读(78) 评论(1)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7732035" rel="nofollow">编辑</a></div>
                        <div class="clear"></div>

                    </div>

                    <div class="topicListFooter"></div>


                </div><!--end: forFlow -->
            </div><!--end: mainContent 主体内容容器-->

            <div id="sideBar">
                <div id="sideBarMain">

                    <!--done-->
                    <div class="newsItem">
                        <h3 class="catListTitle">公告</h3>
                        <div id="blog-news">
                            <div id="profile_block">
                                昵称：<a href="https://home.cnblogs.com/u/jackchensir/">jackchensir</a><br>园龄：<a href="https://home.cnblogs.com/u/jackchensir/" title="入园时间：2017-08-10">1年6个月</a><br>粉丝：<a href="https://home.cnblogs.com/u/jackchensir/followers/">4</a><br>关注：<a href="https://home.cnblogs.com/u/jackchensir/followees/">5</a><div id="p_b_follow"><a href="javascript:void(0);" onclick="follow('3ff15543-f10c-4db9-6b2d-08d49c352df3')">+加关注</a></div>
                                <script>getFollowStatus('3ff15543-f10c-4db9-6b2d-08d49c352df3')</script>
                            </div>
                        </div>
                        <script type="text/javascript">loadBlogNews();</script>
                    </div>

                    <div id="blog-calendar" style="">
                        <table id="blogCalendar" class="Cal" title="Calendar" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td colspan="7">
                                        <table class="CalTitle" cellspacing="0">
                                            <tbody>
                                                <tr><td class="CalNextPrev"><a href="javascript:void(0);" onclick="loadBlogCalendar('2019/02/01');return false;">&lt;</a></td><td align="center">2019年3月</td><td class="CalNextPrev" align="right"><a href="javascript:void(0);" onclick="loadBlogCalendar('2019/04/01');return false;">&gt;</a></td></tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr><th class="CalDayHeader" abbr="日" scope="col" align="center">日</th><th class="CalDayHeader" abbr="一" scope="col" align="center">一</th><th class="CalDayHeader" abbr="二" scope="col" align="center">二</th><th class="CalDayHeader" abbr="三" scope="col" align="center">三</th><th class="CalDayHeader" abbr="四" scope="col" align="center">四</th><th class="CalDayHeader" abbr="五" scope="col" align="center">五</th><th class="CalDayHeader" abbr="六" scope="col" align="center">六</th></tr>
                                <tr><td class="CalOtherMonthDay" align="center">24</td><td class="CalOtherMonthDay" align="center">25</td><td class="CalOtherMonthDay" align="center">26</td><td class="CalOtherMonthDay" align="center">27</td><td class="CalOtherMonthDay" align="center">28</td><td align="center">1</td><td class="CalWeekendDay" align="center">2</td></tr>
                                <tr><td class="CalWeekendDay" align="center">3</td><td align="center">4</td><td align="center">5</td><td align="center">6</td><td align="center">7</td><td class="CalTodayDay" align="center">8</td><td class="CalWeekendDay" align="center">9</td></tr>
                                <tr><td class="CalWeekendDay" align="center">10</td><td align="center">11</td><td align="center">12</td><td align="center">13</td><td align="center">14</td><td align="center">15</td><td class="CalWeekendDay" align="center">16</td></tr>
                                <tr><td class="CalWeekendDay" align="center">17</td><td align="center">18</td><td align="center">19</td><td align="center">20</td><td align="center">21</td><td align="center">22</td><td class="CalWeekendDay" align="center">23</td></tr>
                                <tr><td class="CalWeekendDay" align="center">24</td><td align="center">25</td><td align="center">26</td><td align="center">27</td><td align="center">28</td><td align="center">29</td><td class="CalWeekendDay" align="center">30</td></tr>
                                <tr><td class="CalWeekendDay" align="center">31</td><td class="CalOtherMonthDay" align="center">1</td><td class="CalOtherMonthDay" align="center">2</td><td class="CalOtherMonthDay" align="center">3</td><td class="CalOtherMonthDay" align="center">4</td><td class="CalOtherMonthDay" align="center">5</td><td class="CalOtherMonthDay" align="center">6</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <script type="text/javascript">loadBlogDefaultCalendar();</script>

                    <div id="leftcontentcontainer">
                        <div id="blog-sidecolumn">
                            <div id="sidebar_search" class="sidebar-block">
                                <div id="sidebar_search" class="mySearch">
                                    <h3 class="catListTitle">搜索</h3>
                                    <div id="sidebar_search_box">
                                        <div id="widget_my_zzk" class="div_my_zzk"><input type="text" id="q" onkeydown="return zzk_go_enter(event);" class="input_my_zzk">&nbsp;<input onclick="zzk_go()" type="button" value="找找看" id="btnZzk" class="btn_my_zzk"></div>
                                        <div id="widget_my_google" class="div_my_zzk"><input type="text" name="google_q" id="google_q" onkeydown="return google_go_enter(event)" class="input_my_zzk">&nbsp;<input onclick="google_go()" type="button" value="谷歌搜索" class="btn_my_zzk"></div>
                                    </div>
                                </div>

                            </div><div id="sidebar_shortcut" class="sidebar-block">
                                <div class="catListLink">
                                    <h3 class="catListTitle">常用链接</h3>
                                    <ul>
                                        <li><a href="https://www.cnblogs.com/jackchensir/p/" title="我的博客的随笔列表">我的随笔</a></li>
                                        <li><a href="https://www.cnblogs.com/jackchensir/MyComments.html" title="我发表过的评论列表">我的评论</a></li>
                                        <li><a href="https://www.cnblogs.com/jackchensir/OtherPosts.html" title="我评论过的随笔列表">我的参与</a></li>
                                        <li><a href="https://www.cnblogs.com/jackchensir/RecentComments.html" title="我的博客的评论列表">最新评论</a></li>
                                        <li><a href="https://www.cnblogs.com/jackchensir/tag/" title="我的博客的标签列表">我的标签</a></li>
                                    </ul>
                                    <div id="itemListLin_con" style="display:none;">
                                        <ul></ul>
                                    </div>
                                </div>
                            </div><div id="sidebar_toptags" class="sidebar-block"></div><div id="sidebar_categories">
                                <div id="sidebar_postarchive" class="catListPostArchive sidebar-block">
                                    <h3 class="catListTitle">随笔档案</h3>

                                    <ul>

                                        <li><a id="CatList_LinkList_0_Link_0" href="https://www.cnblogs.com/jackchensir/archive/2019/02.html">2019年2月 (1)</a> </li>

                                        <li><a id="CatList_LinkList_0_Link_1" href="https://www.cnblogs.com/jackchensir/archive/2018/06.html">2018年6月 (1)</a> </li>

                                        <li><a id="CatList_LinkList_0_Link_2" href="https://www.cnblogs.com/jackchensir/archive/2018/03.html">2018年3月 (2)</a> </li>

                                        <li><a id="CatList_LinkList_0_Link_3" href="https://www.cnblogs.com/jackchensir/archive/2018/01.html">2018年1月 (1)</a> </li>

                                        <li><a id="CatList_LinkList_0_Link_4" href="https://www.cnblogs.com/jackchensir/archive/2017/10.html">2017年10月 (1)</a> </li>

                                    </ul>

                                </div>

                            </div><div id="sidebar_recentcomments" class="sidebar-block">
                                <div id="recent_comments_wrap">
                                    <div class="catListComment">
                                        <h3 class="catListTitle">最新评论</h3>

                                        <div id="RecentCommentsBlock">
                                            <ul>
                                                <li class="recent_comment_title"><a href="https://www.cnblogs.com/jackchensir/p/7732035.html#3822567">1. Re:ps知识集锦</a></li>
                                                <li class="recent_comment_body">嗯，不错，再接再厉！！！</li>
                                                <li class="recent_comment_author">--遮不住半世琉璃的伤</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><div id="sidebar_topviewedposts" class="sidebar-block">
                                <div id="topview_posts_wrap">
                                    <div class="catListView">
                                        <h3 class="catListTitle">阅读排行榜</h3>
                                        <div id="TopViewPostsBlock"><ul><li><a href="https://www.cnblogs.com/jackchensir/p/8306448.html">1. 利用git提交代码(67107)</a></li><li><a href="https://www.cnblogs.com/jackchensir/p/8490091.html">2. 在Eclipse中利用maven整合搭建ssm框架(3201)</a></li><li><a href="https://www.cnblogs.com/jackchensir/p/8532357.html">3. 用ajax传递json,返回前台的中文乱码问题(1270)</a></li><li><a href="https://www.cnblogs.com/jackchensir/p/7732035.html">4. ps知识集锦(78)</a></li><li><a href="https://www.cnblogs.com/jackchensir/p/9234965.html">5. Linux下安装mysql（示例mysql5.6安装）(46)</a></li></ul></div>
                                    </div>
                                </div>
                            </div><div id="sidebar_topcommentedposts" class="sidebar-block">
                                <div id="topfeedback_posts_wrap">
                                    <div class="catListFeedback">
                                        <h3 class="catListTitle">评论排行榜</h3>
                                        <div id="TopFeedbackPostsBlock"><ul><li><a href="https://www.cnblogs.com/jackchensir/p/7732035.html">1. ps知识集锦(1)</a></li></ul></div>
                                    </div>
                                </div>
                            </div><div id="sidebar_topdiggedposts" class="sidebar-block">
                                <div id="topdigg_posts_wrap">
                                    <div class="catListView">
                                        <h3 class="catListTitle">推荐排行榜</h3>
                                        <div id="TopDiggPostsBlock"><ul><li><a href="https://www.cnblogs.com/jackchensir/p/8306448.html">1. 利用git提交代码(2)</a></li><li><a href="https://www.cnblogs.com/jackchensir/p/7732035.html">2. ps知识集锦(1)</a></li></ul></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">loadBlogSideColumn();</script>
                    </div>

                </div><!--end: sideBarMain -->
            </div><!--end: sideBar 侧边栏容器 -->
            <div class="clear"></div>
        </div><!--end: main -->
        <div class="clear"></div>
        <div id="footer">

            <!--done-->
            Copyright ©2019 jackchensir
        </div><!--end: footer -->
    </div><!--end: home 自定义的最大容器 -->

</body>