@model NewBeeBlog.ViewModels.AddCategroy
@{

    Layout = null;
}


<script src="~/front/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/front/Scripts/jquery.validate.min.js"></script>
<script src="~/front/Scripts/jquery.validate.unobtrusive.js"></script>
@using (Html.BeginForm("AddCategroy", "Manage", FormMethod.Post))
{
    <table>
        <tr>
            <td>添加分类：</td>
            <td>
                @Html.TextBoxFor(m => m.CategroyName)
                @Html.ValidationMessageFor(m => m.CategroyName)
            </td>

        </tr>
        <tr>
        <td><input type="submit" value="确定" style="width:150px;" class="button_blue" /></td>
        </tr>
    </table>
}

