@model IEnumerable<NewBeeBlog.ViewModels.ManageUser>
@{
    ViewBag.Title = "ManageUser";
    Layout = "~/Views/Shared/_LayoutPageManage.cshtml";
}
<div data-options="region:'center'" id="tt">
    <table id="dg" class="easyui-datagrid" style="width:98%;height:80%"
           url="/manage/LoadUsers"
           toolbar="#toolbar" pagination="true"
           rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="Account" width="50">用户账号</th>
                <th field="Name" width="50">用户昵称</th>
                <th field="CommitCount" width="50">评论数量</th>
                <th data-options="field:'_operate',width:80,align:'center',formatter:formatOper">操作</th>
            </tr>
        </thead>
    </table>
</div>
<script type="text/javascript">
    function formatOper(val, row, index) {
        return '<a href="javascript:if(confirm(\'确实要删除吗?\'))location=\'/manage/DelUsers?Account=' + row.Account + '\'" class="easyui-linkbutton" plain="true"><font color="black">删除</font></a>';
    }
</script>