@model IEnumerable<NewBeeBlog.ViewModels.ManageUser>
@{
    ViewBag.Title = "ManageUser";
}
<table id="List" title="@ViewBag.Title" class="easyui-datagrid" 
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
        <tr>
            <th field="Account" width="400">@Html.DisplayNameFor(model => model.Account)</th>
            <th field="CommitCount" width="100">@Html.DisplayNameFor(model => model.CommitCount)</th>
            <th field="Button" width="100"></th>
        </tr>
    </thead>
</table>