
@{
    ViewBag.Title = "ManageCategroy";
    Layout = "~/Views/Shared/_LayoutPageManage.cshtml";
}
<div data-options="region:'center'" id="tt">
    <table id="dg" class="easyui-datagrid" style="width:100%;height:550px"
           url="/manage/LoadCategroy"
           toolbar="#toolbar" pagination="true"
           rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="CategroyName" width="50">分类名称</th>
                <th data-options="field:'_operate',width:80,align:'center',formatter:formatOper">操作</th>
            </tr>
        </thead>
        <a href="#" class="easyui-linkbutton" plain="true" >删除</a>
    </table>
</div>
<script type="text/javascript">
    function formatOper(val, row, index) {
        return '<a href="/manage/catalogmodify/' + row.Id + '" class="easyui-linkbutton" plain="true">修改</a> <a href="javascript:if(confirm(\'确实要删除吗?\'))location=\'/manage/catalogdel/' + row.Id + '\'" class="easyui-linkbutton" plain="true"><font color="black">删除</font></a>';
    }
</script>